{% macro render_post(data) %}
<div class="post">
    <div class="post-header" id="{{data.title}}">{{data.title}}</div>
    {% if data.headIMG is not none %}
        <img src="{{ url_for(data.headIMG)}}">
    {% endif %}
    <div class="content">
        {{data.content}}
    </div>
    <div class="footer">
        <p>
            Posted by {{data.author}} at {{data.datetime}}. &nbsp;
            <a class="comment_link" href="{{ url_for('comment') }}?comments={{ data.id }}"> Comments({{ data.comment_count }})</a>
        </p>
    </div>
</div>
{% endmacro %}
