{%  macro render_post(data) %}
<div class="post">
    <h1> {{data.title}} </h1>
    <div class="content">
        {{data.content}}
    </div>
    <div class="footer">
        <p>
            Posted by {{data.author_str}} at {{data.datetime}}. &nbsp;
	        <a class="comment_link" href="{{ url_for('comment') }}?post_id={{ data.id }}"> Comments({{ data.comment_count }})</a>
            {% if session.user is not undefined %}
                {% if session.user['admin'] == 1 %}
                    <a class="admin_link" href="{{ url_for('edit_post') }}?entry={{ data.id }}"> edit</a>
                {% endif %}
            {% endif %}
        </p>
    </div>
</div>
{% endmacro %}
