{%  macro render_project_list_item(data) %}
<div class="project-tile">
    <h1>{{data.title}}</h1>
    {% if data.pict != "" and data.pict is not none%}
        <img src={{url_for('static', filename='projects/img/'~data.pict)}}>
    {% endif %}

    <div class="project-abstract">
        <p>{{data.abstract}}</p>
    </div>

    <form action="projects" method="get">
        <button type="submit" name="id" value="{{ data.id }}" class="btn btn-detail">Details</button>
    </form>

    <form action="order" method="get">
        {% for product in data.rel_products %}
            <button type="submit" name="product" value = "{{ product.id }}" class="btn">
                {{ product.name }} - {{ product.real_price() }}
                <br>
                {% if product.qty < 1 %}
                    Out of stock! (waitlist)
                {% else %}
                    In stock: {{ product.qty }}
                {% endif %}
        {% endfor %}
    </form>
</div>
{% endmacro %}