{% extends "base.html" %}

{% block pagestyle %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/about-style.css')}}"/>
{% endblock %}

{% block layout_body %}
    <div class="about">
        <h1>Metaphase is:</h1>
        <p>
            The third stage of cellar division where all the chromosomes have aligned in the center of their cell before fully dividing into two. It is also an audio-technology firm based in Somerville, Massachusetts.  This page is about the company, not biology, although biology is pretty neat too.
            We're just getting our wheels under us now, but soon Metaphase will be producing a variety of digital and analog synthesizer modules for eurorack as well as other electronic musical tools and instruments.
        </p>
        <p>

        </p>
        <img id="aboutbanner" src="{{url_for('static', filename='img/aboutbanner.jpg')}}">
        <p>
            Creativity and a desire to do things yourself seem frequently to go hand in hand, so it's important to us that others are able to find resources to educate themselves in whatever they want to learn.  To that end we will try to provide as much information as we can about our projects and research to help others more deeply understand our art and maybe be inspired to make something with (or of) our tools.
        </p>
    </div>
    <div class="clearboth"> </div>
{% endblock %}