<html>
	<head>
		<title>	{{title}} </title>
			<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}"/>
			<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap-theme.min.css')}}"/>
            <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}"/>
        {% block pagestyle %}
		{% endblock %}
		{# block for expanding the head template #}
		{% block head %}{% endblock %}	
	</head>

	<body>
		<div id="layout_block">
			{% block layout_header %}
                {% include 'layout_header.html' %}
            {% endblock %}
			<div id="layout_body">
                {% block layout_body %}
                    {% include 'posts.html' %}
                {% endblock %}
            </div>
			{% block layout_footer %}
                {% include 'layout_footer.html' %}
            {% endblock %}
		</div>
	</body>
</html>

