{% from "macros/_shophelpers.html" import render_cart_item %}
{% extends "base.html" %}

{% block pagestyle %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/cart-style.css')}}"/>
{% endblock %}

{% block layout_body %}
{% if not cart %}
    <p>There are no items in your cart </p>
{% else %}

<form action="cart" method="post">
    <div class="table-cart">
        <div class="table-header">
            <span class="cart-cell remove-item">Remove</span>
            <span class="cart-cell item-name">Product</span>
            <span class="cart-cell item-price">Price</span>
            <span class="cart-cell item-qty">Quantity</span>
            <span class="cart-cell item-subtotal">Subtotal</span>
        </div>

        {% for item in cart: %}
            {{ render_cart_item(item, loop.cycle('div-dark', 'div-light') ) }}
        {% endfor %}

        <div>
            <div>&nbsp;</div>
        </div>
        <div>
            <div>
                Total: ${{ session.cart_cost / 100 }}
            </div>
        </div>
    </div>
    <div>
        <div>Shipping:
            <select name="Shipping">
            {% for opt in shipping_options %}
            <option value="{{ opt }}">{{ opt }} - {{ shipping_options[opt] / 100 }}</option>
            {% endfor %}
        </select>
        </div>
    </div>
    <br>
    <input type="submit" class="btn btn-cart" name="action" value="Update Cart">
    <input type="submit" class="btn btn-cart" name="action" value="Empty Cart">
    <input type="submit" class="btn btn-cart btn-detail" name="action" value="Checkout">
</form>
{% endif %}
{% endblock %}