{% from "macros/_formhelpers.html" import render_field %}
{% extends "base.html" %}

{% block pagestyle %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/checkout-style.css')}}"/>
{% endblock %}

{% block layout_body %}
<form method=post enctype="multipart/form-data" action="{{ url_for('checkout') }}">
    <dl>
        {{ render_field(form.first_name) }}
        {{ render_field(form.last_name) }}
        {{ render_field(form.address_1) }}
        {{ render_field(form.address_2) }}
        {{ render_field(form.city) }}
        {{ render_field(form.state) }}
        {{ render_field(form.zip_code) }}
        {{ render_field(form.email) }}
    </dl>
    <p>
        <input type=submit value='Continue' class="btn">
    </p>

</form>
{% endblock %}