{% extends "base.html" %}
{% block layout_body %}
{% from "macros/_formhelpers.html" import render_field %}
<form method=post enctype="multipart/form-data" action="{{ url_for('edit_post') }}?entry={{ id }}">
    <dl>
        {{ render_field(form.title) }}
        {{ render_field(form.headIMG) }}
        {{ render_field(form.textHTML) }}
        {{ render_field(form.tags) }}
        {{ render_field(form.projects) }}
        {{ render_field(form.delete) }}
    </dl>
    <p>
        <input type=submit value='update' class="button">
    </p>

</form>
{% endblock %}