<div id="titlebar">
	<div id="logo">
		<img class="tag" src="{{ url_for('static', filename='img/metaphase3.png') }}">
	</div>


    <div id="cart">
        <a href="/cart">
            <img src="{{ url_for('static', filename='img/kart.png') }}">
            {% if session.cart_count %}
                {{ session.cart_count }}
            {% else %}
                0
            {% endif %}
            Items: $
            {% if session.cart_cost %}
                {{ session.cart_cost / 100 }}
            {% else %}
                0.00
            {% endif %}

        </a>
    </div>

</div>

<div id="submenu">
	{% for href, id, caption in [
	    ('/home', 'index', 'Home'),
	    ('/projects', 'projects', 'Projects'),
	    ('/about', 'about', 'About')
    ] %}

        <div class="navblock">
			<a  href="{{ href|e }}">
                <div class="nav-caption"> {{ caption|e }} </div>
  	        </a>
    	</div>
	{% endfor %}
    {% from "macros/_formhelpers.html" import render_flashed_all %}
    {{ render_flashed_all() }}
</div>