{% extends "base.html" %}
{% block layout_body %}
{% from "macros/_formhelpers.html" import render_field %}
<form method=post enctype="multipart/form-data" action="/post">
    <dl>
        {{ render_field(form.title) }}
        {{ render_field(form.headIMG) }}
        {{ render_field(form.bodyHTML) }}
        {{ render_field(form.textHTML) }}
        {{ render_field(form.projects) }}
        {{ render_field(form.tags) }}
    </dl>
  <p><input type=submit value='post' class="btn btn-primary">
</form>
{% endblock %}