{% extends "base.html" %}

{% block pagestyle %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/projects-style.css')}}"/>
{% endblock %}

{% block layout_body %}
    <h1>
        {{ project.title }}
    </h1>
    <h2>
        Summary:
    </h2>

    {{ project.abstract }}

    {% if project.rel_posts != [] %}
        <h2>
            Blog posts related to this project:
        </h2>
            <ul>
                {% for post in project.rel_posts %}
                    <li>
                        <a href="{{ url_for('comment') }}?post_id={{ post.id }}">{{post.title}}</a> &#8212 written by: {{post.author.real_name}}
                    </li>
                {% endfor %}
            </ul>
    {% endif %}

    {% if project.rel_files != None %}
        <h2>
            Files related to this project:
        </h2>
        <ul>
        </ul>
    {% endif %}
</div>
{% endblock %}