

body {
    background-color: #333;
    color: #ccc;
    border-color: #777;
}

#layout_block {
    padding-top: 5px;
    min-width: 600px;
}

#titlebar {
    background: url(/static/img/Metaphase_header_gray.png);
    background-size: 726px 90px;
    background-repeat: no-repeat;
    width: 85%;
    min-width: 600px;
    height: 95px;
    position: relative;
    margin: 0 auto;
}

#navdiv {
    width: 75%;
    position: absolute;
    bottom: 0pt;
    left: 25%;
}

#submenu {
    height: 20pt;
    background-color: #777;
    width: 100%;
}

#layout_body {
    background-color: #202020;
    border-left: solid;
    width: 75%;
    margin: 0 auto;
    border-color: #777;
}

#layout_footer{
    min-width: 726px;
    width: 75%;
    margin: 0 auto;
}

.navlink {
    float: left;
    width: 15%;
    text-align: center;
    border-left: solid;
    border-color: #777;
    padding: 2pt;
    margin-right: 10pt;

}

.navlink:hover{
    border-color: #aa3;
}

.navlink a {
    color: #ccc;
    text-decoration: none;
}
.navlink a:hover {
    #text-decoration: none;
}

#active {
    border-color: #a33;
}