

body {
    background-color: #333;
    color: #ccc;
    border-color: #777;
    font: monospace;
    min-width: 610px;
}

#layout_block {
    padding-top: 5px;
    min-width: 600px;
}


#layout_body {
    background-color: #202020;
    border-left: solid;
    border-width: 1px;
    width: 75%;
    border-color: #CCC;
    padding: 10pt;  
    margin-left: 120px;
}

#layout_footer{
    min-width: 726px;
    width: 75%;
    margin: 0 auto;
}

#titlebar {
    background: url(/static/img/Metaphase_header_gray.png);
    background-size: 726px 90px;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 95px;
    position: relative;
}

#navigation {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: left;
    font-size: 0pt;
}
    #navigation a {
            color: #ccc;
            text-decoration: none;
        }

    #navigation a:hover {
        color: #EEE;
    }

.navblock {
    display: inline-block;
    border: 0pt;
    font-size: 12pt
}

    .nav-accent {
        float: left;
        min-width: 5px;
        background-color: #CCC;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

    }
        .navblock:hover .nav-accent{
            background-color: #cc2;
        }
     
        #active {
            background-color: #a33;
        }

    .nav-caption {
        float: right;
        padding-left: 10pt;
        padding-right: 15pt;
    }

    .nav-bottom{
        clear: right;
        height: 1px;
        background-color: #FFF;
    }

#submenu {
    border-top: solid;
    border-bottom: solid;
    border-width: 1px;
    border-color: #CCC;
    height: 25pt;
    background-color: #777;
    width: 100%;
}

#leftpad{
    width: 120px;
    min-width: 120px
}

#rightpad{
    overflow: hidden;
}
.clearboth {
    clear: both;
}