body {
    background-color: #eee;
}
#titlebar {
    color: black;
   # font-size: 25pt;
    width: 75%;
    text-align: center;
    border: solid;
    border-color: black;
    margin: 5 auto;
    margin-top: 10px;
}


.navlink {
    background-color: #fff;
    font-size: 15px;
    display: inline-block;
    border: solid;
    border-color: black;
    padding-left:  10px;
    padding-right: 10px;
    margin: 0 auto;
}

.navlink:hover {
    background-color: #ffe;
}

#maindiv {
    border-color: black;
    border: solid;
    width: 75%;
    margin: 5 auto;
    padding: 10px;
}