<html>
	<head>
		<title>	{{title}} </title>
		{% if bootstrap == True:%}
			<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}"/>
			<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap-theme.min.css/')}}"/>
		{% endif %}
		{% block pagestyle %}
			<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}"/>
		{% endblock %}
		{# block for expanding the head template #}
		{% block head %}{% endblock %}	
	</head>

	<body>
		<div id="layout_block">
			{% block layout_header %} {% include 'layout_header.html' %} {% endblock %}
			{% block layout_body %} {% include 'layout_body.html' %} {% endblock %}
			{% block layout_footer %} {% include 'layout_footer.html' %} {% endblock %}
		</div>
	</body>
</html>

