.projects a{
    color: #CCC;
    text-decoration: none;

}

.projects .btn{
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
}

.projects a:hover{
    color: #EEE;
    text-decoration: none;
}

.project-tile {
    width: 175px;
    margin: 10px;
    padding: 5px;
    background-color: #444;
    display: inline-block;
    vertical-align: top;
}


.project-tile h1{
    margin-top: 0;
    font-size: 18pt;
    font-weight: 100;
    overflow: hidden;
}

.project-row:hover{
    border: solid;
    border-width: 1px;
    border-color: #404040;
}


.project-tile img{
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.btn .oos {
    display: inline;
    width: 6pt;

}