body {
    background: linear-gradient(135deg, #222, #444) fixed;
    color: #ccc;
    border-color: #777;
    #font-family: "Verdana", monospace;
    min-width: 610px;
}

#layout_block {
#    padding-top: 5px;
    min-width: 600px;
}


#layout_body {
    //position: relative;
    float: left;
    background-color: #202020;
    border-left: solid;
    border-width: 1px;
    width: 75%;
    min-width: 620px;
    border-color: #06c;
    padding: 30px 15px;
    margin-top: 75px;
    margin-left: 121px;
    box-shadow:  -2px -2px 5px #111;
    z-index: -1;
}

#layout_footer{
    margin-left:  120px;
    width: 75%;
}

}
.clearboth {
    clear: both;
}


.post {
    #margin-top: 10px;
    margin-bottom: 20px;
    #border-top-left-radius: 10px;
    #background-color: #777;
    color:#aaa;

    #box-shadow: -2px -2px 5px #010;
}


h1 {
    display:span;
    margin-top: 2px;
    #letter-spacing: 3px;
    border-bottom: solid;
    border-width: 1px;
    border-color: #0cf;
    color:#ccc;
    font-weight: 700;
    font-size: 20pt;
}

h2 {
    font-size: 15pt;
    color: #eee;
}

.button {
    color: #222;
}

#title{
    width: 100%;
    background-color: white;
}

#textinput {
    color: #222;
    width: 100%;
    min-height: 200px;
}


.post .headline-image{
    margin-left: auto;
    margin-right: auto;
    max-height: 400px;
    max-width: 600px;
    padding: 10px;
    display:block;
}

.post .content {
    padding: 10px 10px 10px 10px;
    text-shadow: 2px 2px 5px #222 ;
}

.post .footer {
    #background-color: #666;
    color:#666;
    padding: 0px 0px 0px 10px;
}